/*обнуление стилей*/
*,
*::before,
*::after{
    padding: 0;
    margin: 0;
    border: 0;
    box-sizing: border-box;
}
a{
    text-decoration: none;
}
ul,
ol,
li{
    list-style: none;
}
img{
    vertical-align: top;
}
h1,
h2,
h3,
h4,
h5,
h6{
    font-weight: inherit;
    font-size: inherit;
}
html,
body{
    height: 100%;
    line-height: 1;
    font-size: 16px;
    color: black;
    font-family: Sen;
    background-color:black
}
.wrapper{
    min-height: 100%;
    overflow: hidden;
}
._container{
    max-width: 1346px;
    padding: 0px 15px;
    margin: 0px auto;
    box-sizing: content-box;
    
}
/* -----------------------------Header--------------------------- */
.header{
    position: absolute;
    width: 100%;
    left: 0;
    top: 0;
    z-index: 50;
}
.header__container{
    display: flex;
    min-height: 104px;
    align-items: center;
    background-color: black;
    z-index: 1000;
    
}
.header__burger-btn{
    display: none;
    position: relative;
    width: 30px;
    height: 30px;
    border: none;
    background-color: rgb(0, 0, 0);
    
    margin-left: auto
}
.header__burger-btn span{
    position: absolute;
    width: 20px;
    height:2px ;
    background-color: rgb(255, 255, 255);
    left: 5px;
    top:50%;
    transition: transform .5s, opacity .5s, background-color .5s, left .5s, right .5s, width .5s;
}
.header__burger-btn span:nth-child(1){
    transform: translateY(-5px);
    
}
.header__burger-btn span:nth-child(2){
    transform: translateY(5px);
    width: 13px;
    right: 5px;
    left: auto;
    
}
.header.open .header__burger-btn span:nth-child(1){
    transform:translateY(0) rotate(-45deg) ;
    width: 20;
}
.header.open .header__burger-btn span:nth-child(2){
    width: 20px;
    right: auto;
    left: 5px;
    transform:translateY(0) rotate(45deg) ;
}

.header__logo{
    color: #FFFFFF;
    font-family: 'Impact', 'Arial Black', sans-serif;
    font-weight: 100; 
    font-size: 26px; 
    letter-spacing: 1px; 
    transform: scaleY(1.4);
   



}
.header__menu{
    margin: 0px 0px 0px 133px;
    margin-left: auto
}
.menu{
    
}
.menu__list{
    display: flex;
    /* margin-left: auto */
}
.menu__item{
    /* margin: 0px 24px 0px 0px; */
    padding: 10px 15px;
    border: 1px solid white;
    padding: 32px 24px;
}

/* :not(:last-child) */
.menu__link{
    color: #FFFFFF;
    line-height:171% ;
    
    
}
.menu__link:hover{
    border-bottom: 1.5px solid #FFFFFF;
}

@media(max-width:768px){
    .header__burger-btn{
        display:block ;
    }
    .menu{
         position: fixed;
        top: 104px;
        right: 0;
        width: 100vw;
        height: 100%;
        background-color: blueviolet;
        padding: 100px 20px 20px 20px;
        transform: translateX(100%);
        transition: transform .5s;
        
    }
    /* .menu__list{
        display: block;
    } */
    .menu__link{
        display: block;
        padding: 10px 0;
    }
    .header.open .menu{
        transform: translateX(0);
    }
    
    .menu__list{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 100%;
    }
}